.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text {
  color: #ee5626;
  font-size: 18px;
  text-decoration: none;
  transition: all .3s ease;
}

.text:hover {
  transform: scale(1.5);
  transition: all .3s ease;
}